body {
    font-family: Optima, sans-serif;
    background-color: thistle;
}

.games {
    padding: 10px 40px;
    color: rgb(27, 202, 233);
    font-weight: bold;
}

.card {
    min-width: 180px;
    min-height: 80px;
    border: 3px solid rgba(119, 4, 75, 0.125);
    border-radius: 4px;
    background-color: #ffffff;
    margin: 20px;
}

.card-title {
    background-color: rgba(0,0,0,.03);
    border-bottom: 3px solid rgba(238, 20, 104, 0.125);
    padding: 10px;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border-radius: 20px;
    background-color: rgb(204, 9, 100);
    color:wheat;
    padding: 10px;
    border: 0;
    appearance: none;
    outline: none;
    height: fit-content;
    align-self: center;
}