body {
    font-family: Optima, sans-serif;
    background-color: thistle;
}
.card {
    min-width: 180px;
    min-height: 80px;
    border: 3px solid rgba(204, 110, 228, 0.125);
    border-radius: 4px;
    background-color: hsl(323, 78%, 79%);
    margin: 20px;
}

.card-title {
    background-color: rgba(0,0,0,.03);
    border-bottom: 3px solid rgba(68, 7, 68, 0.125);
    padding: 10px;
}

button {
    border-radius: 20px;
    background-color: rgb(204, 9, 100);
    color:wheat;
    padding: 10px;
    border: 0;
    appearance: none;
    outline: none;
    height: fit-content;
    align-self: center;
}